@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');
*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  list-style: none;
  font-family: 'poppins' ,sans-serif;
}
a{
  text-decoration: none;
}
:root{
  --h-height:180px;
  --max-width:1300px;
}
#app{
  padding-top: var(--h-height);
  position: relative;
  background-color: rgb(248, 248, 248);
}
.container{
  width: 100%;
}
.max-width{
  max-width: var(--max-width);
  margin-inline: auto;
}
.main-container{
  padding-inline: 3%;
}
.page-content{
  width: 100%;
  margin-block: 30px;
}
.page-content section:not(:last-of-type){
  margin-bottom: 80px;
}
footer{
  background-color: gray;
}
.rating--g{
  display: flex;
  align-items: center;
}
.rating--g span{
  font-size: 18px;
  color: gold;
}
.rating--g span:not(:last-child){
  margin-right: 6px;
}





/* HEADER STYLING */
header{
  width: 100%;
  height: var(--h-height);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}
.h-container{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  grid-row: 12px;
  background-color: rgb(233, 233, 233);
}
header .offers-carousal{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d4a373;
}
header .main-header{
  width: 100%;
}
header .offers-carousal .carousal-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  overflow-x:hidden;
  position: relative;
}
header .carousal-wrapper .carousal-elem{
  width: 100%;
  min-width: 100%;
  padding-inline: 5%;
  display: flex;
  justify-content: center;
}
header .carousal-wrapper .carousal-elem .offer-txt{
  color: black;
  font-weight: 500;
  font-size: 14px;
  text-decoration: underline;
  text-transform: uppercase;
}
header .carousal-wrapper .move-btns .move-btn{
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;  
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
header .carousal-wrapper .move-btns .move-btn:hover{
  background-color: #0000001c;
}
header .carousal-wrapper .move-btns .move-right-btn{
  left: 12%;
}
header .carousal-wrapper .move-btns .move-left-btn{
  right: 12%;
}
header .main-header{
  padding-inline:3%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    'navlinks navlinks navlinks navlinks actlinks actlinks'
    'logo logo search search search cart'
    'collinks collinks collinks collinks collinks collinks';
}
header .main-header .navlinks{
  grid-area: navlinks;
  width: 100%;
}
header .main-header .action-links{
  grid-area: actlinks;
  width: 100%;
}
header .main-header .logo{
  grid-area: logo;
}
header .main-header .search-field{
  grid-area: search;
}
header .main-header .cart{
  grid-area: cart;
}
header .main-header .collection-links{
  grid-area: collinks;
}
header .main-header .grid-elem{
  display: flex;
  align-items: center;
}
header .main-header .grid-elem.action-links{
  justify-content: flex-end;
}
header .main-header .grid-elem.links{
  display: flex;
  align-items: center;
}
header .main-header .grid-elem.links li{
  padding-inline: 6px;
}

header .main-header .grid-elem.links li:not(:last-child){
  border-right: 1px solid rgba(0, 0, 0, 0.137);
}
header .main-header .grid-elem.links li.title{
  border-right: none;
  color: black;
  display: flex;
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;
}
header .main-header .grid-elem.links li .link{
  color: black;
  display: flex;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  padding: 3px 3px;
  border-bottom:1px solid transparent;
}
header .main-header .grid-elem.links li .link .link-icon-bfr{
  margin-right: 3px;
  font-size: 14px;
}
header .main-header .grid-elem.links li .link .link-icon-aftr{
  margin-left: 3px;
  font-size: 14px;
}
header .main-header .grid-elem.links li .link:hover{
  border-bottom:1px solid #d4a373;
} 
header .main-header .grid-elem.logo .logo-wrapper{
  width: 220px;
  height: 42px;
  margin-inline: 6px;
  display: flex;
  align-items: center;
}
header .main-header .grid-elem.logo .logo-wrapper .logo-img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
header .main-header .grid-elem.search-field{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr;
}
header .main-header .grid-elem.search-field{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}
header .main-header .grid-elem.search-field .field-input{
  height: 36px;
  border-radius: none;
  border: none;
  border: 1px solid #d4a373;
}
header .main-header .grid-elem.search-field .search-form{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr auto;
}
header .main-header .grid-elem.search-field .search-form .search-submit{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  font-size: 18px;
  background-color: #faedcd;
  cursor: pointer;
}
header .main-header .grid-elem.search-field .search-form .search-input{
  padding: 0px 6px; 
}
header .main-header .grid-elem.search-field .search-form .search-input:focus{
  outline: none; 
  border: 2px solid #d4a373;
}
header .main-header .grid-elem.cart{
  display: flex;
  justify-content: flex-end;
}
header .main-header .grid-elem.cart .lbi-01:not(:last-child){
    margin-right: 18px;
}
header .main-header .grid-elem.cart .cart-drop-down , header .main-header .grid-elem.cart .menu-drop{
  margin-right: 6px;
  display: flex;
  align-items: center;
  
}
header .main-header .grid-elem.cart .menu-drop{
  display: none;
}
header .main-header .grid-elem.cart .cart-drop-down .drp-dwn-btn , header .main-header .grid-elem.cart .menu-drop .drp-menu-btn{
  font-size: 26px;
  display: flex;
  align-items: center;
  background-color: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
header .main-header .grid-elem.cart .cart-drop-down .drp-dwn-btn .infos{
  margin-left: 6px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
header .main-header .grid-elem.collection-links{
  justify-content: space-between;
}
header .main-header .grid-elem.collection-links .separator{
  width: .5px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.235);
}
header .main-header .grid-elem.collection-links .separator:last-child{
  display: none;
}
header .main-header .grid-elem.collection-links li:not(:last-child){
  border-right: none;
}
header .main-header .grid-elem.collection-links li .link{
  font-size: 14px;
}

@media (max-width:1024px) {
  header .main-header .grid-elem.cart .cart-drop-down .drp-dwn-btn{
    font-size: 24px;
  }
  header .main-header .grid-elem.cart .cart-drop-down .drp-dwn-btn .infos{
    font-size: 11px;
    line-height: 13px;
  }
  header .main-header .grid-elem.search-field .field-input{
    height: 30px;
  }
  header .main-header .grid-elem.logo .logo-wrapper{
    width: 200px;
    height: 30px;
  }
  header .main-header .grid-elem.collection-links li .link{
    font-size: 12px;
  }
}
@media (max-width:900px) {
  header .main-header{
    padding-inline:3%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 30px 56px;
    grid-template-areas:
      'navlinks navlinks navlinks navlinks navlinks navlinks navlinks navlinks navlinks navlinks actlinks actlinks'
      'logo logo logo logo search search search search search search cart cart';
  }
  header .main-header .grid-elem.collection-links {
    display: none;
  }
  :root{
    --h-height:120px;
  }
  header .offers-carousal{
    height: 34px;
  }
  header .main-header{
    padding-block: 3px;
  }
  header .main-header .grid-elem.links li .link{
    font-size: 10px;
  }
  header .main-header .grid-elem.links li .link .link-icon-bfr{
    margin-right: 2px;
    font-size: 12px;
  }
  header .main-header .grid-elem.links li .link .link-icon-aftr{
    margin-left: 2px;
    font-size: 12px;
  }
  header .main-header .grid-elem.links li{
    padding-inline: 3px;
  }
  header .carousal-wrapper .carousal-elem .offer-txt{
    font-size: 12px;
  }
  header .carousal-wrapper .move-btns .move-btn{
    height: 16px;
    width: 16px;
  }
  header .main-header .grid-elem.logo .logo-wrapper{
    width: 160px;
    height: 26px;
  }
  header .main-header .grid-elem.search-field .field-input{
    height: 28px;
  }
  header .main-header .grid-elem.search-field .search-form .search-input{
    padding: 0px 4px; 
    font-size: 12px;
  }
  header .main-header .grid-elem.search-field .search-form .search-submit{
    width: 36px;
    font-size: 18px;
  }
  header .main-header .grid-elem.cart .cart-drop-down .drp-dwn-btn{
    font-size: 22px;
  }
  header .main-header .grid-elem.cart .cart-drop-down .drp-dwn-btn .infos{
    font-size: 10px;
    line-height: 12px;
  }
}
@media (max-width:600px) {
  header .main-header{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'logo logo cart'
      'search search search';
    row-gap: 6px;
    padding-block:6px;
  }
  header .main-header .grid-elem.navlinks {
    display: none;
  }
  header .main-header .grid-elem.action-links {
    display: none;
  }
  header .carousal-wrapper .move-btns .move-right-btn{
    left: 3%;
  }
  header .carousal-wrapper .move-btns .move-left-btn {
    right: 3%;
  }
  header .offers-carousal{
    height: 30px;
  }
  header .main-header .grid-elem.search-field .field-input{
    height: 32px;
  }
  header .main-header .grid-elem.search-field .search-form .search-input{
    font-size: 14px;
  }
  header .main-header .grid-elem.search-field .search-form .search-submit{
    width: 44px;
  }
  header .main-header .grid-elem.cart .menu-drop{
    display: flex;
  }
}
@media (max-width:340px){
  header .main-header{
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      'logo logo cart cart'
      'search search search search';
  }
  header .main-header .grid-elem.cart .lbi-01:not(:last-child){
    margin-right: 12px;
  }
  header .main-header .grid-elem.logo .logo-wrapper{
    width: 150px;
    height: 24px;
  }
}

/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* BANNERS SECTION STYLING */
#banners-sec{
  width: 100%;
}
#banners-sec .container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}    
#banners-sec .container .banner-view{
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}   
#banners-sec .container .banner-view::-webkit-scrollbar{
  display: none;
}
#banners-sec .container .banner-view .banner-wrapper{ 
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  display: none;

}

#banners-sec .container .banner-view .banner-wrapper.active{ 
  display: block;
}
#banners-sec .container .banner-view .banner-wrapper img{ 
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
#banners-sec .container .banner-view .banner-wrapper img.big-img{ 
  display: block;
}
#banners-sec .container .banner-view .banner-wrapper img.small-img{ 
  display: none;
}
#banners-sec .container .banner-view .labels{
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateX(+50%);
  position: absolute;
  right: 50%;
  bottom: 12px;
}
#banners-sec .container .banner-view .labels .slide-label{
  width: 30px;
  height: 3px;
  opacity: 0.75;
  background-color: rgb(145, 145, 145);
  cursor: pointer;
}
#banners-sec .container .banner-view .labels .slide-label.active{
  background-color: rgb(235, 235, 235);
}
#banners-sec .container .banner-view .labels .slide-label:not(:last-child){
  margin-right: 6px;
}
#banners-sec .container .banner-view .banner-btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
#banners-sec .container .banner-view .banner-right-btn{
  right: 6px;
}
#banners-sec .container .banner-view .banner-left-btn{
  left: 6px;
}
#banners-sec .container .banner-view .banner-btn .btn{
  background-color: hsla(0, 0%, 95%, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding-block: 4px;
  opacity: 1;
}

@media (max-width:600px) {
  #banners-sec .container .banner-view .banner-wrapper img.big-img{ 
      display: none;
  }
  #banners-sec .container .banner-view .banner-wrapper img.small-img{ 
      display: block;
  }
  #banners-sec .container .banner-view .labels .slide-label{
      width: 30px;
      height: 3px;
  }
  #banners-sec .container .banner-view .labels{
      bottom: 16px;
  }
  #banners-sec .container .banner-view .banner-right-btn{
      right: 8px;
  }
  #banners-sec .container .banner-view .banner-left-btn{
      left: 8px;
  }
}


/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* PRODUCTS LISTING AT HOME SECTION STYLING */
.categorie-listing{
  width: 100%;
}
.categorie-listing .container{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.categorie-listing .sec-header{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.categorie-listing .sec-header .slogan{
  text-transform: uppercase;
  font-weight: 400;
  opacity: 0.55;
  font-size: 12px;
  letter-spacing: 3px;
}
.categorie-listing .sec-header .categorie-name{
  font-size: 40px;
  font-family: 'Cormorant Garamond' , sans-serif;
  font-weight: 600;
  margin-bottom: 3px;
}
.categorie-listing .sec-header .mini-desc{
  font-size: 22px;
  font-family: 'Cormorant Garamond' , sans-serif;
  font-weight: 400;
  max-width: 70%;
}
.categorie-listing .sec-content{
  margin-top: 30px;
  width: 100%;
  
}
.categorie-listing .sec-content .products-wrapper{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  row-gap: 36px;
  column-gap: 24px;
} 
.categorie-listing .sec-content .book-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categorie-listing .sec-content .book-wrapper .img-wrapper{
  width: 100%;
  aspect-ratio: 3/4;
  position: relative;
  overflow:hidden ;
}
.categorie-listing .sec-content .book-wrapper .img-wrapper img{
  width: 100%;
  height: 100%;
  object-fit:cover;
}
.categorie-listing .sec-content .book-wrapper .img-wrapper .hover-slide{
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: hsla(30, 53%, 64%, 0.9);
  transform: translateX(105%);
  transition: transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.categorie-listing .sec-content .book-wrapper .img-wrapper .hover-slide p{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  color: black;
  display: flex;
  align-items: center;
}
.categorie-listing .sec-content .book-wrapper .img-wrapper:hover .hover-slide{
  transform: translateX(0%);
}

.categorie-listing .sec-content .book-wrapper .details-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 6px;
  color: black;
}
.categorie-listing .sec-content .book-wrapper .details-wrapper .author{
  text-transform: uppercase;
  font-weight: 400;
  opacity: 0.75;
  font-size: 14px;
  letter-spacing: 2px;
}
.categorie-listing .sec-content .book-wrapper .details-wrapper .book-name{
  font-size: 22px;
  font-family: 'Cormorant Garamond' , sans-serif;
  font-weight: 700;
  color: black;
  margin-bottom: 4px;
}
.categorie-listing .sec-content .book-wrapper .details-wrapper .price{
  text-transform: uppercase;
  font-weight: 400;
  opacity: 0.85;
  font-size: 16px;
  letter-spacing: 1px;
}
@media (max-width:1024px){
  .categorie-listing .sec-content .products-wrapper{
    grid-template-columns: repeat(3 , 1fr);
  } 
}
@media (max-width:600px){
  .categorie-listing .sec-content .products-wrapper{
    grid-template-columns: repeat(2 , 1fr);
  } 
  .categorie-listing .sec-content .book-wrapper .details-wrapper .book-name{
    font-weight: 700;
  }
  .categorie-listing .sec-content .book-wrapper .details-wrapper .price{
    opacity: 0.8;
  }
}
@media (max-width:360px){
  .categorie-listing .sec-content .products-wrapper{
    grid-template-columns: repeat(1 , 1fr);
  } 
}
@media (max-width:600px) {
  .categorie-listing .sec-header{
    padding-inline: 6px;
  }
  .categorie-listing .sec-header .categorie-name{
    font-size: 34px;
  }
  .categorie-listing .sec-header .mini-desc{
    font-size: 20px;
    max-width: 100%;
  }
}

/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* OFFER CALL SECTION STYLING */
.Offer-call-sec{
  width: 100%;
}
.offer-call-sec .container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offer-call-sec .container .offer-view{
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: flex;
  align-items: center;
  position: relative;
  padding: 32px 24px;
}
.offer-call-sec .offer-view .bg{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.offer-call-sec .offer-view .bg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.offer-call-sec .offer-view .content{
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}
.offer-call-sec .offer-view .content .left{
  width: 50%;
  padding-inline: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.offer-call-sec .offer-view .content .right{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offer-call-sec .offer-view .content  .right img{
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 300px;
  object-fit: contain;
}
.offer-call-sec .offer-view .content .left  .store-name{
  width: 100%;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  opacity: 0.75;
  margin-bottom: 18px;
}
.offer-call-sec .offer-view .content .left .offer-txt{
  margin-bottom: 24px;
}
.offer-call-sec .offer-view .content .left .offer-txt .txt{
  font-family: 'Cormorant Garamond' , sans-serif;
}
.offer-call-sec .offer-view .content .left .offer-txt .title-txt{
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 6px;
  text-transform: capitalize;
}
.offer-call-sec .offer-view .content .left .offer-txt .desc-txt{
  font-size: 18px;
  font-weight: 400;
}
.offer-call-sec .offer-view .content .left .call-btn .btn{
  padding-block: 12px;
  background-color: #d4a373;
  color: black;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  text-transform: uppercase;
}
.offer-call-sec .offer-view .content .left .call-btn .btn .btn-icon{
  margin-left: 6px;
  transition: all 0.3s ease;
}
.offer-call-sec .offer-view .content .left .call-btn .btn:hover .btn-icon{
  transform: translateX(6px);
}

@media (max-width:900px) {
  .offer-call-sec .offer-view .content .right{
    width: 40%;
  }
  .offer-call-sec .offer-view .content .left{
    width: 60%;
  }
  .offer-call-sec .offer-view .content  .right img{
    max-width: 260px;
    max-height: 260px;
  }
  .offer-call-sec .offer-view .content .left  .store-name{
    font-size: 12px;
    margin-bottom: 12px;
  }
  .offer-call-sec .offer-view .content .left .offer-txt{
    margin-bottom: 24px;
  }
  .offer-call-sec .offer-view .content .left .offer-txt .title-txt{
    font-size: 32px;
    font-weight: 600;
  }
  .offer-call-sec .offer-view .content .left .offer-txt .desc-txt{
    font-size: 16px;
  }
  .offer-call-sec .offer-view .content .left .call-btn .btn{
    padding-block: 8px;
    width: 180px;
  }
}
@media (max-width:600px){
  .offer-call-sec .offer-view .content{
    flex-direction: column;
  }
  .offer-call-sec .offer-view .content .left{
    width: 100%;
    padding-inline: 12px;
    margin-bottom: 18px;
  }
  .offer-call-sec .offer-view .content .right{
    width: 100%;
    justify-content: flex-end;
  }
  .offer-call-sec .offer-view .content  .right img{
    max-width: 200px;
    max-height: 200px;
  }
  .offer-call-sec .offer-view .content .left .call-btn .btn{
    font-size: 14px;
  }
}



/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* PRODUCTS LISTING INLINE HOME SECTION STYLING */
.inline-listing{
  width: 100%;
}
.inline-listing .container{
  width: 100%;
  padding: 12px;
  display: grid;
  grid-template-rows: 1fr;
  background-color: rgb(0, 0, 0);
}
.inline-listing:nth-child(even) .container{
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 'header content';
}
.inline-listing:nth-child(odd) .container{
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 'content header';
}
.inline-listing .sec-header{
  grid-area: header;
  width: 100%;
  height: 100%;
  padding: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inline-listing .sec-header .slogan{
  text-transform: uppercase;
  font-weight: 400;
  opacity: 0.55;
  font-size: 12px;
  letter-spacing: 3px;
  margin-bottom: 12px;
  color: white;
}
.inline-listing .sec-header .categorie-name{
  font-size: 40px;
  font-family: 'Cormorant Garamond' , sans-serif;
  font-weight: 600;
  margin-bottom: 3px;
  text-transform: capitalize;
  margin-bottom: 24px;
  color: white;
}
.inline-listing .sec-header .categorie-link{
  height: 36px;
  background-color: #d4a373;
  color: black;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  text-transform: uppercase;
}
.inline-listing .sec-header .categorie-link .btn-icon{
  margin-left: 6px;
  transition: all 0.3s ease;
}
.inline-listing .sec-header .categorie-link:hover .btn-icon{
  transform: translateX(6px);
}

.inline-listing .sec-content{
  grid-area: content;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  overflow-x: hidden;
  display: flex;
  padding: 6px;
  position: relative;
  padding-inline: 12px;
  background-color: rgb(248, 248, 248);
}
.inline-listing .sec-content .carousel-wrapper{
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  column-gap: 18px;
  grid-auto-flow: column;
  align-items: center;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
  overflow-y: hidden;
  -ms-overflow-style: none; 
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.inline-listing .sec-content .carousel-wrapper::-webkit-scrollbar{
  display: none;
}
.inline-listing .sec-content .carousel-wrapper .move-btn{
  width: 30px;
  height: 30px;
  background-color: #d4a373;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.inline-listing .sec-content .carousel-wrapper .move-btn.noactive{
  display: none;
}
.inline-listing .sec-content .carousel-wrapper  .move-left-btn{
  left: 3px;
}
.inline-listing .sec-content .carousel-wrapper .move-right-btn{
  right: 3px;
}
.inline-listing .sec-content .carousel-wrapper .book-card{
  width: 260px;
  min-width: 260px;
  height: 100%;
  display: flex;
  scroll-snap-align: start;
  background-color: rgb(215, 215, 215);
  padding: 6px;
}

.inline-listing .carousel-wrapper .book-card .data-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.inline-listing .carousel-wrapper .book-card .data-wrapper .img{
  width: 100%;
  height: 360px;
  margin-bottom: 6px;
}
.inline-listing .carousel-wrapper .book-card .data-wrapper .img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.inline-listing .carousel-wrapper .book-card .data-wrapper .details{
  padding-inline: 6px;
}
.inline-listing .carousel-wrapper .book-card .data-wrapper .author{
  text-transform: uppercase;
  font-weight: 400;
  opacity: 0.75;
  font-size: 12px;
  letter-spacing: 2px;
  color: black;
}
.inline-listing .carousel-wrapper .book-card .data-wrapper .book-name{
  font-size: 22px;
  font-family: 'Cormorant Garamond' , sans-serif;
  font-weight: 700;
  color: black;
  margin-bottom: 4px;
}

@media (max-width:900px) {
  .inline-listing .sec-header{
    padding: 0;
    padding-inline: 12px;
  }
  .inline-listing .sec-header .categorie-name{
    font-size: 34px;
  }
  .inline-listing .sec-header .categorie-link{
    height: 34px;
    font-size: 14px;
    width: 140px;
  }
}
@media (max-width:600px) {
  .inline-listing .container{
    display: grid;
    row-gap: 24px;
  }
  .inline-listing:nth-child(even) .container{
    grid-template-columns: 1fr;
    grid-template-areas: 'header'
                         'content';
  }
  .inline-listing:nth-child(odd) .container{
    grid-template-columns: 1fr;
    grid-template-areas: 'header'
                         'content';
  }
  .inline-listing .sec-header{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
  .inline-listing .sec-header .slogan{
    display: none;
  }
  .inline-listing .sec-header .categorie-name{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 3px;
    text-transform: capitalize;
    margin-bottom: 0;
  }
  .inline-listing .sec-header .categorie-link{
    height: auto;
    background-color:transparent;
    font-weight: 300;
    width: auto;
    color: white;
  }
}
@media (max-width:480px) {
  .inline-listing .sec-header .categorie-name{
    margin-bottom: 12px;
  }
  .inline-listing .sec-header{
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: start;
  }
  .inline-listing .sec-content .carousel-wrapper .book-card{
    width: 200px;
    min-width: 200px;
    display: flex;
  }
  .inline-listing .carousel-wrapper .book-card .data-wrapper{
  }
  .inline-listing .carousel-wrapper .book-card .data-wrapper .img{
    width: 100%;
    height: 280px;
  }
}


/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* PRODUCTS DETAILS SECTION STYLING */
.product-details-sec{
  width: 100%;
}
.product-details-sec .container{
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 24px;
}
.product-details-sec .container .col{
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* PRODUCT DETAILS WRAPPER */
.product-details-wrapper{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.15fr;
  column-gap: 24px;
}
.product-details-wrapper .pdw-c{
  width: 100%;
}
.product-details-wrapper .image{
  width: 100%; 
}
.product-details-wrapper .image .image-wrapper{
  width: 100%;
  max-width: 360px;
  margin-inline: auto;
  aspect-ratio: 3/4;
  display: flex;
  justify-content: center;
}
.product-details-wrapper .image .image-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-details-wrapper .infos .infos-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.product-details-wrapper .infos .infos-wrapper .el:not(:last-child){
  margin-bottom: 12px;
} 
.product-details-wrapper .infos .infos-wrapper .author .txt{
  text-transform: uppercase;
  opacity: 0.5;
  color: black;
  font-size: 15px;
  font-weight: 500;
}
.product-details-wrapper .infos .infos-wrapper .author .txt span{
  text-decoration: underline;
}
.product-details-wrapper .infos .infos-wrapper .name .txt{
  font-size: 26px;
  font-weight: 600;
}
.product-details-wrapper .infos .infos-wrapper .rating{
  display: flex;
  align-items: center;
  
}
.product-details-wrapper .infos .infos-wrapper .el.rating{
  margin-bottom: 24px;
}
.product-details-wrapper .infos .infos-wrapper .rating .r-raters{
  margin-left: 6px;
  font-size: 14px;
  line-height: 14px;
  color: black;
  opacity: 0.7;
}
.product-details-wrapper .infos .infos-wrapper .price{
  display: flex;
  align-items: baseline;
}
.product-details-wrapper .infos .infos-wrapper .price .txt{
  font-weight: 600;
  font-size: 22px;
}
.product-details-wrapper .infos .infos-wrapper .price .oldprice{
  font-weight: 500;
  margin-left: 6px;
  text-decoration: line-through rgba(0, 0, 0, 0.5);
  opacity: 0.75;
  font-size: 16px;
}
.product-details-wrapper .infos .infos-wrapper .mini-desc .txt{
  font-size: 18px;
  font-weight: 400;
}
.product-details-wrapper .infos .infos-wrapper .cta{
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 12px;
  margin-top: 24px;
}
.product-details-wrapper .infos .infos-wrapper .cta button{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  font-size: 18px;
  background-color: #d4a373;
  border: 1px solid #d4a373;
  cursor: pointer;
}
.product-details-wrapper .infos .infos-wrapper .cta .addtwishlist{
  background-color: transparent;
  border: 1px solid black;
  aspect-ratio: 4/4;
}

@media (max-width:1024px) {
  .product-details-wrapper .infos .infos-wrapper .el:not(:last-child){
    margin-bottom: 6px;
  } 
  .product-details-wrapper .infos .infos-wrapper .name .txt{
    line-height: 34px;
    font-size: 22px;
  }
  .product-details-wrapper .infos .infos-wrapper .mini-desc .txt{
    font-size: 16px;
    font-weight: 400;
  }
  .product-details-wrapper .infos .infos-wrapper .cta button{
    height: 36px;
    font-size: 16px;
  }
  .product-details-wrapper .image .image-wrapper{
    max-width: 280px;
  }
}

@media (max-width:900px) {
  .product-details-sec .container{
    grid-template-columns:1fr;
    column-gap: 0;
  }
  .product-details-sec .container .col.side-col{
    display: none;
  }
}

@media (max-width:600px) {
  .product-details-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0px;
    row-gap: 30px;
    padding-inline: 4px;
  }
  .product-details-wrapper .infos .infos-wrapper .cta button{
    height: 46px;
    font-size: 18px;
  }
  .product-details-wrapper .infos .infos-wrapper .mini-desc .txt{
    font-size: 18px;
  }
  .product-details-wrapper .image .image-wrapper{
    max-width: 320px;
  }
  .product-details-wrapper .image{
    background-color: rgb(225, 225, 225);
  }
}


/* PRODUCTS NAVIGATION SECTION */

.details-tab{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}
.details-tab .tablinks{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details-tab .tablinks .tablink-btn{
  cursor: pointer;
  width: 25%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border: 1px solid rgba(128, 128, 128, 0.25);
}

.details-tab .tablinks .tablink-btn.active{
  border-bottom: transparent;
  border-top: 3px solid #d4a373;
}
.details-tab .tabcontent{
  width: 100%;
  display: flex;
  padding-block: 30px;
  padding-inline: 12px;
  font-size: 18px;
  border: 1px solid rgba(128, 128, 128, 0.25);
  border-top: transparent;
}
/* .details-tab .tabcontent .tab{
  display: none;
}
.details-tab .tabcontent .tab.active{
  display: block;
} */










/* FOOTER STYLING */
footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
}